[Desktop Entry]
Version=1.0
Type=Application
Name=dinner
Exec=env SAL_USE_VCLPLUGIN=gen SAL_FORCEDPI=120 localc /info/provinces/food/dinner_plan.ods
Categories=Office;Productivity;
Terminal=false
