[Desktop Entry]
Version=1.0
Type=Application
Name=dinner
Exec=localc /info/provinces/food/dinner_plan.ods
Categories=Office;Productivity;
Terminal=false
