[Desktop Entry]
Version=1.0
Type=Application
Name=invest
Exec="/usr/bin/localc" /info/provinces/money/investing/3_transactions/data/transactions.csv
Categories=Office;
Terminal=false
