[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/data/dl/new/PhpStorm-162.1889.1/bin/webide.png
Exec="/data/dl/new/PhpStorm-162.1889.1/bin/phpstorm.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
