[Desktop Entry]
Name=Palemoon
Comment=Firefox browser fork
Exec=/usr/bin/palemoon
Icon=/usr/share/icons/hicolor/48x48/apps/palemoon.png
Terminal=false
Type=Application
Categories=Network;
