[Desktop Entry]
Name=Soccer Physics
Exec=env WINEPREFIX="/home/gbell2/.local/share/wineprefixes/firefox" wine "/home/gbell2/.local/share/wineprefixes/firefox/dosdevices/c:/Program Files/Mozilla Firefox/firefox.exe" "http://ottoojala.com/soccerphysics/"
Type=Application
StartupNotify=true
Path=/home/gbell2/.local/share/wineprefixes/firefox/dosdevices/c:/Program Files/Mozilla Firefox
Icon=F0E6_firefox.0
Categories=Office;Network;Utility
