[Desktop Entry]
Version=1.0
Type=Application
Name=todo
Exec="SAL_FORCEDPI=120 SAL_USE_VCLPLUGIN=gen /usr/bin/localc" /home/gbell2/todo.ods
Categories=Office;Productivity;
Terminal=false
