#!/bin/bash

# Run these sequentially - didn't want to figure out how to do it in rc.lua
# Maybe if sequential, I won't get the 'unable to grab keyboard' message.

setxkbmap -option terminate:ctrl_alt_bksp
xmodmap /home/gbell2/.myconfigs/.Xmodmap

xrandr --output HDMI-2 --primary &> /dev/null
xrandr --output VGA-1 --mode 1680x1050 --left-of HDMI2 &> /dev/null

redshift -l -33.86:151.21 -m randr &

eval `ssh-agent` &> /dev/null
# This guy was interacting with the keyring or something... wasn't quite working.
# We really just wanted it for the gb_access password annoyance... which seems to
# be working OK even without gpg agent (?)  Gnome keyring seems to cache the decoded
# gpg key used to encrypt gb_access.gpg.
#eval $(gpg-agent --daemon --enable-ssh-support )

/home/gbell2/bin/mount.info askpass

ssh-add /home/gbell2/.ssh/global_key &> /dev/null

