set completion-ignore-case on
set bell-style visible
set show-all-if-ambiguous on
set match-hidden-files off

"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[1;5D": backward-kill-word

C-b:unix-filename-rubout


	$if mode=vi
		set show-mode-in-prompt on
        set vi-cmd-mode-string "(c)"
        set vi-ins-mode-string "(i)"
		set keymap vi-insert
		"\C-a": beginning-of-line
		"\C-e": end-of-line
        "\e[A": history-search-backward
        "\e[B": history-search-forward

		set keymap vi-command
		"\C-a": beginning-of-line
		"\C-e": end-of-line
# NOTE! C-e doesn't actually work. Bash/readline bug.
# Use bind -m vi-command ' # "\C-e": end-of-line ' as a workaround
# (https://stackoverflow.com/questions/54300220/)
# Which has been placed in the top-level ~/.bashrc
	$endif
