# Docs at https://git-scm.com/docs/git-config
#
[url "ssh://git@bitbucket.org/"]
	insteadof = https://bitbucket.org/

[init]
	defaultBranch = main

[commit]
	template = /Users/gregb/.stCommitMsg

[alias]
    co  = checkout
    ci  = checkin
    br  = branch
    st  = status
	lg  = log --name-status --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs)%C(bold blue) <%an>%Creset' --abbrev-commit
	lgs = log               --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs)%C(bold blue) <%an>%Creset' --abbrev-commit
	lgs2 = log              --color --graph --pretty=medium

[color]
	diff = auto
	status = auto
	branch = auto

[user]
	email = greg.bell@papercut.com
	name = Greg Bell

[core]
	pager = less -F -X
	excludesfile = /Users/gregb/.gitignore

[push]
	default = simple
	autoSetupRemote = true

[credential]
	helper = osxkeychain

[cola]
    spellcheck = false

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true        # use n and N to move between diff sections
	side-by-side = true
	syntax-theme = GitHub
    light
    hunk-header-style = omit

# Lots of tools are recognised and don't need a [difftool] section. Vimdiff is
# one of them. See
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-mergetool
#
# "tool" is used for `git difftool`
# "guitool" is used for `git difftool -g`
# Confusingly "difftool" section defines what commands are run when that
# command occurs in tool= or guitool= values.
[diff]
	tool = nvim    # uses this for `git difftool`
	guitool = vscode  # uses this for `git difftool -g`

[merge]
	tool = nvim
	guitool = vscode

[difftool "vscode"]
    cmd = "/Applications/Visual\\ Studio\\ Code.app/Contents/MacOS/Electron" --diff \"$LOCAL\" \"$REMOTE\"

[mergetool "vscode"]
    cmd = "/Applications/Visual\\ Studio\\ Code.app/Contents/MacOS/Electron" --wait --merge $REMOTE $LOCAL $BASE $MERGED

[difftool "nvim"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

