#!/bin/bash

# Run these sequentially - didn't want to figure out how to do it in rc.lua
# Maybe if sequential, I won't get the 'unable to grab keyboard' message.

setxkbmap -option terminate:ctrl_alt_bksp
xmodmap /home/gbell2/dotfiles/apps/.Xmodmap
xrdb -merge /usr/share/doc/ssh-askpass/examples/SshAskpass-NeXTish.ad

xrandr --output DP-0    --mode 1920x1080 --primary &> /dev/null
xrandr --output DVI-I-0 --mode 1280x1024           --left-of DP-0 &> /dev/null
#xrandr --output DVI-I-0 --mode 1920x1080 --primary --right-of DP-0 &> /dev/null
#xrandr --output DP-0 --mode 1920x1080 --primary &> /dev/null
#xrandr --output DVI-I-0 --mode 1680x1050 --left-of DP-0 &> /dev/null
nvidia-settings --assign CurrentMetaMode="DP-0: nvidia-auto-select +1280+0 { ForceFullCompositionPipeline = On }, DVI-I-0: nvidia-auto-select +0+0 { ForceFullCompositionPipeline = On }"

redshift -l -33.86:151.21 -m randr &> /dev/null &

eval `ssh-agent` &> /dev/null

# This guy was interacting with the keyring or something... wasn't quite working.
# We really just wanted it for the gb_access password annoyance... which seems to
# be working OK even without gpg agent (?)  Gnome keyring seems to cache the decoded
# gpg key used to encrypt gb_access.gpg.
#eval $(gpg-agent --daemon --enable-ssh-support )

#/home/gbell2/bin/mount.info askpass
ssh-add /home/gbell2/.ssh/global_key &> /dev/null
/opt/pa-applet/src/pa-applet &

# For laptop. Split this .xprofile into platform-specific ones.
#xinput set-prop 11 284 1

sudo g610-led -fx color all 10 50
sudo g610-led -k  printscreen 80
sudo g610-led -k  scrollock 80
sudo g610-led -k  pause 80

pulseaudio &

# These are an experiment, put in on 10 Aug 2021.
DE=gnome
QT_QPA_PLATFORMTHEME=gtk3
